/* Based on https://docs.moodle.org/502/en/Dark_mode */
html {
  filter: invert(0%) hue-rotate(0deg);
}

html :is(iframe, video, img, .dashboard-card, .tile) {
  filter: invert(0%) hue-rotate(0deg);
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(100%) hue-rotate(180deg);
  }
  
  html :is(iframe, video, img, .dashboard-card, .tile) {
    filter: invert(100%) hue-rotate(180deg);
  }
}